.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Sidebar */
.ant-layout-sider {
  background-color: #1D2A62; /* Fondo de la sidebar */
}

.ant-menu-item-selected {
  background-color: #87AECE !important; /* Color de los ítems seleccionados */
}

/* Botones Primarios */
.ant-btn-primary {
  background-color: #437118;
  border-color: #437118;
}

/* Botones Primarios Hover */
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: #36590f !important;
  border-color: #36590f !important;
}

/* Botones Secundarios */
.ant-btn-default {
  background-color: #AFD06E;
  border-color: #AFD06E;
  color: white !important;
}

/* Botones Secundarios Hover */
.ant-btn-default:hover,
.ant-btn-default:focus {
  background-color: #95ba56 !important;
  border-color: #95ba56 !important;
  color: white !important;
}

.danger-button {
  background-color: #d32f2f; /* rojo fuerte */
  color: white;
  border: none;
}

.danger-button:hover {
  background-color: #b71c1c !important; /* rojo más oscuro en hover */
  color: white !important;
  border: none !important;
  opacity: 0.9 !important;
}